/* --------------------------------------------------- 
# Start Configuration
 --------------------------------------------------- */
html, body {
     height: 100%;
     margin: 10px;
     max-width: 100%;
 }

/* --------------------------------------------------- 
# NAVBAR
 --------------------------------------------------- */
#btn-nav {
     width: 90px;
     float: right;
     margin-right: 25px;
 }

/* --------------------------------------------------- 
# FOOTER
 --------------------------------------------------- */
.wrapper {
     min-height: 100%;
     margin-bottom: -50px;
}
/*-------------TEST TABLE-------------------*/
